<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4  row-cols-xl-5 g-4">
        <div class="col" *ngFor="let photo of photos">
            <div class="card text-center h-100">
                <img [src]="photo.imageUrl" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{photo.id}}</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-around">
                        <a routerLink="/photos/{{photo.id}}" class="btn btn-primary">Details</a>
                        <button class="btn btn-warning" (click)="editPhoto(photo.id)">Edit</button>
                        <button class="btn btn-danger" (click)="deletePhoto(photo.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>