<main class="form-signin text-center position-absolute top-50 start-50 translate-middle">
    <h4 class="fw-light">ADD NEW PHOTO</h4>
    <form [formGroup]="createPhotoForm" (ngSubmit)="create()">
        <label for="inputUrl" class="visually-hidden">Image URL</label>
        <input type="text" id="inputUrl" class="form-control" formControlName="ImageUrl" placeholder="Image URL" required>
        <div *ngIf="imageUrl?.touched && imageUrl?.errors?.required" class="alert alert-danger">
            This field is required!
        </div>
        <label for="inputDescription" class="visually-hidden">Description</label>
        <textarea id="inputDescription" class="form-control" formControlName="Description" placeholder="Description" rows="3" required></textarea>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Create</button>
    </form>
</main>